:root {
  --black: #090909
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--black);
  color: white;
}

html{
  scroll-behavior: smooth;
}

hr{
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
}